/* Estilos gerais */

.ajust {
  word-wrap: break-word;
  max-width: 90%;
  height: auto;
  line-height: 1.5;
  text-align: justify;
  overflow-wrap: break-word;
}

span > strong {
}

/* Layout dos patrocinadores lado a lado */

.img-patrão {
  object-fit: cover;
  width: 100%;
  height: 40vh;
}

/* css do carrosel */

.carousel-container {
  background-color: var(--cor-cinza-transparent-1);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  width: auto;
  overflow-x: hidden;
}

.container22 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  transition: 0.3s ease;
  margin-top: 0px;
  padding: 5px;
  gap: 50px;
  max-height: 800px;
}

.button-ff {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.img-sla::-webkit-scrollbar {
  width: 12px;
}

.img-sla::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.img-sla::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.img-sla::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.img-patrocinador {
  object-fit: cover;
  transition: filter 0.4s ease;
}

.img-patrocinador:hover {
  transition: filter 0.1s;
  filter: grayscale(0%);
}

.img-sla, .img2, .img3 {
  flex: 1 1 30%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #262626;
  border-radius: 10px;
  padding: 15px;
  max-width: 30%;
  width: 30vw;
  min-width: 30vw;
  max-height: none;
  height: auto;
  min-height: 300px;
  box-shadow: 9px 4px 10px rgba(11,11,11,0.88);
  transition: transform 0.3s, box-shadow 0.3s;
}

.img-sla:hover, .img2:hover, .img3:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #ff6f61;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: #f2f2f2;
}

.destaque {
  color: #d32f2f;
  font-weight: bold;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #d32f2f;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b71c1c;
}

/* Oculta o conteúdo até ser exibido */

.hidden {
  display: none;
}

/* Responsividade */

@media (max-width: 768px) {
  .img {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .img-sla, .img2, .img3 {
    width: 100%;
  }
}

.space-avaliacao {
  background-color: var(--background-cinzento);
  width: 100%;
  height: 232px;
}

.space-space-avaliaçao {
  display: flex;
}

h1 {
  color: var(--light-color);
}

.overflow-hidden {
  border-style: solid;
}

